@mixin flex($justifyContent, $alignItems, $columnGap: 0px) {
  display: flex;
  align-items: $alignItems;
  justify-content: $justifyContent;
  column-gap: $columnGap;
}

.header {
  width: 100%;
  background-color: #fff;
  font-family: "TKT-Medium", Arial;

  .top-header-wrapper,
  .nav-wrapper {
    max-width: 1286px;
    width: 100%;
    margin: 0 auto;
    padding: 15px 0px 19px 0px;

    .header-top {
      @include flex(space-between, center);

      .logo {
        cursor: pointer;
        text-decoration: none;
      }

      .header-btns {
        @include flex(start, center, 20px);

        .header-btn {
          width: 46px;
          height: 46px;
          border: 1px solid #f1f1f5;
          border-radius: 12px;
          cursor: pointer;
          @include flex(center, center);
        }

        .cart-btn {
          position: relative;

          .cart-number {
            position: absolute;
            top: -5px;
            right: -5px;
            width: 20px;
            height: 20px;
            background: #ff4d4d 0% 0% no-repeat padding-box;
            border-radius: 11px;
            @include flex(center, center);
            color: #fff;

            span {
              font-size: 14px;
            }
          }
        }

        .profile-btn {
          width: 160px;
          column-gap: 27px;

          .profile-info {
            @include flex(center, center, 10px);

            span {
              font-size: 14px;
              font-weight: 500;
              font-family: "TKT-Regular", Arial;
              color: #696974;
            }
          }
        }

        .language-btn {
          margin-left: -4px;
        }
      }
    }
  }

  .nav-wrapper {
    padding: 19px 0px 23px 0px;
    box-shadow: 0px 3px 6px #00000005;
    .nav {
      @include flex(space-between, start);

      .nav-list-left,
      .nav-list-right {
        list-style-type: none;
        padding-left: 0;
        margin: 0px;
        @include flex(start, start, 29px);

        .nav-link {
          font-size: 14px;
          text-decoration: none;
          color: #696974;
        }
      }
    }
  }

  .divider-line {
    border-bottom: 1px solid #f1f1f5;
  }
}
