.filter-categories-section {
    margin-top: 45px;
  
    .categories-list {
      .category {
        margin-bottom: 25px;
  
        .container {
          display: flex;
          align-items: center;
          column-gap: 15px;
          position: relative;
          padding-left: 40px;
          margin-bottom: 12px;
          cursor: pointer;
          font-size: 22px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
  
          .category-name {
            font-size: 16px;
          }
        }
  
        .container input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }
  
        .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          height: 25px;
          width: 25px;
          background-color: #fff;
          border: 1px solid #e5e5ed;
          border-radius: 6px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
  
        .container:hover input ~ .checkmark {
          background-color: #fff;
          border: 1px solid #e5e5ed;
        }
  
        .checkmark:after {
          content: "";
          position: absolute;
          display: none;
        }
  
        .container input:checked ~ .checkmark:after {
          display: block;
        }
  
        .container .checkmark:after {
          left: 8px;
          top: 4px;
          width: 5px;
          height: 10px;
          border: solid white;
          border-radius: 2px;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
  
        .container input:checked ~ .checkmark {
          background-color: #99cc66;
        }
  
        .container input.white:checked ~ .checkmark:after {
          border: solid white;
          border-width: 0 3px 3px 0;
        }
      }
    }
  }
  