@mixin flex($justifyContent, $alignItems, $columnGap: 0px) {
  display: flex;
  align-items: $alignItems;
  justify-content: $justifyContent;
  column-gap: $columnGap;
}

.main {
  width: 100%;
  background: #fafafb;
  min-height: 500px;

  .main-content {
    max-width: 1286px;
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;

    .domains-section {
      @include flex(space-between, start, 40px);
      padding-top: 40px;

      .domain-content {
        width: 100%;

        .domains-content-header {
          @include flex(space-between, center);
          font-size: 14px;
          .domains-sort-section {
            @include flex(start, center, 18px);

            span {
              color: #171725;
              font-family: "TKT-Medium", Arial;
              font-weight: 700;
            }

            div {
              cursor: pointer;
              color: #92929d;
            }
          }

          .how-to-sell {
            color: #171725;
            letter-spacing: 0px;
          }
        }

        .domains-list {
          margin-top: 28px;
          background: #ffffff;
          border: 1px solid #f1f1f5;
          border-radius: 15px;
          min-height: 100px;
          padding: 10px 40px 30px 40px;
          list-style-type: none;

          .domain-item {
            min-height: 36px;
            width: 100%;
            padding-bottom: 16px;
            border-bottom: 1px solid #f1f1f5;
            margin-top: 20px;
            @include flex(space-between, center);
            &:last-child {
              border-bottom: none;
            }

            .domain-name {
              @include flex(start, center, 20px);

              .arrow-down {
                cursor: pointer;
              }
              span {
                color: #171d25;
                font-size: 16px;
                font-family: "TKT-Medium", Arial;
              }
            }

            .domain-price {
              @include flex(start, center, 20px);

              .in-cart {
                width: 125px;
                @include flex(center, center, 6px);
                height: 36px;
                background: #f5f5f8;
                border-radius: 10px;

                span {
                  color: #696974;
                  font-size: 14px;
                }
              }
              span {
                color: #171d25;
                font-size: 16px;
                font-family: "TKT-Medium", Arial;
              }

              h5 {
                font-size: 12px;
                color: #696974;
                margin: 0;
                @include flex(end, center, 20px);
              }
              .cart {
                width: 36px;
                height: 36px;
                background: #99cc66;
                border-radius: 10px;
                @include flex(center, center);
                cursor: pointer;
              }
            }
          }
        }

        .no-result {
          width: 100%;
          margin: 0 auto;
          margin-top: 15vh;
          @include flex(center, center);
          flex-direction: column;

          .no-result-text {
            margin-top: 36px;
            max-width: 502px;
            width: 100%;
            text-align: center;
            .title {
              color: #696974;
              font-size: 18px;
              margin-bottom: 15px;
              margin-top: 0;
            }

            .description {
              font-size: 14px;
              color: #92929d;
            }
          }
        }
      }
    }
  }
}

.banner {
  width: 1286px;
  height: 180px;
  background-image: url("../../public/assets/banner.png");
  background-size: contain;
  background-color: #0000004d;
  border-radius: 15px;
  background-repeat: no-repeat;
  position: relative;
  @include flex(center, center);

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 1286px;
    height: 180px;
    border-radius: 15px;
    background: #0000004d;
  }

  .banner-title {
    height: 48px;
    color: #fff;
    letter-spacing: 2px;
    word-spacing: 3px;
    font-family: "TKT-Regular", Arial;
    display: inline-block;
    z-index: 10;
  }
}

.main-mobile {
  display: none;
}

@media (max-width: 768px) {
  .main {
    display: none;
  }
  .main-mobile {
    display: block;
    background-color: #fafafb;

    .domains-content-header {
      padding: 20px;
      @include flex(space-between, center, 15px);

      .sort-by-alphabet {
        width: 160px;
        padding: 11px 13px;
        background: #ffffff;
        border: 1px solid #e5e5ed;
        border-radius: 10px;
        @include flex(space-between, center);
        cursor: pointer;
        span {
          color: #696974;
          font-size: 14px;
        }
      }
    }
    .domains-list {
      background: #ffffff;
      min-height: 100px;
      padding: 24px 20px 30px 20px;
      list-style-type: none;
      margin-top: 0px;

      .domain-item {
        min-height: 36px;
        width: 100%;
        padding-bottom: 16px;
        border-bottom: 1px solid #f1f1f5;
        margin-top: 20px;
        @include flex(space-between, center);

        &:first-child {
          margin-top: 0px;
        }

        &:last-child {
          border-bottom: none;
        }

        .domain-name {
          @include flex(start, center, 20px);

          .arrow-down {
            cursor: pointer;
          }
          span {
            color: #171d25;
            font-size: 16px;
            font-family: "TKT-Medium", Arial;
          }
        }

        .domain-price {
          @include flex(start, center, 20px);

          .in-cart {
            width: 125px;
            @include flex(center, center, 6px);
            height: 36px;
            background: #f5f5f8;
            border-radius: 10px;

            span {
              color: #696974;
              font-size: 14px;
            }
          }
          span {
            color: #171d25;
            font-size: 16px;
            font-family: "TKT-Medium", Arial;
          }

          h5 {
            font-size: 12px;
            color: #696974;
            margin: 0;
            @include flex(end, center, 20px);
          }
          .cart {
            width: 36px;
            height: 36px;
            background: #99cc66;
            border-radius: 10px;
            @include flex(center, center);
            cursor: pointer;
          }
        }
      }
    }
  }
  .banner {
    width: 100%;
    height: 120px;
    background-image: url("../../public/assets/BgMobile.png");
    background-size: cover;
    border-radius: 0px;

    @include flex(center, center);

    &::after {
      width: 100vw;
      height: 120px;
      border-radius: 0px;
    }

    .banner-title {
      font-size: 20px;
      font-family: "TKT-Medium", Arial;
      max-width: 220px;
      line-height: 28px;
      font-weight: 500;
      text-align: center;
      margin: 0;
    }
  }

  .main-mobile {
    .main-content {
      padding-top: 0px;
    }
  }
}
