@font-face {
  font-family: "TKT-Medium";
  src: url("../Fonts/TKT-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "TKT-Regular";
  src: url("../Fonts/TKT-Regular.ttf") format("truetype");
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "TKT-Regular", Arial;
}
